html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-simple-snackbar {
    background-color: white; 
    color: black;
}
.error-toast {
    background-color: #e57373;
    color: white;
}